html {
    background-image: url("../img/BCCFAEB8-F619-4F73-ADAF-F624D62705A2(Edited).jpg");
    background-repeat: repeat-x;
    background-size: 100%;
}

body {
    width: 80%;
    background-color: transparent;
    margin: auto;
    border-top: 3px solid #F40000;
}

#home_container{
    width: 100%;
}

.container {
    width:100%;
    margin:auto;
    max-width:1024px;
    min-height:440px;
    position:relative;
    border-radius: 20px;
    border: 1px solid red;
}

.logo {
    text-align: center;
    padding-top: 5px;
}

#uid_img {
    text-align: center;
}

#uid_container{
    text-align: center;
}

h6 {
    text-align: center;
    margin: auto;
    padding: 5px;
    font-family: "Cambria";
    font-size: 0.7em;
    font-style: italic;
}

.loginform {
    padding: 70px;
    margin: auto;
    /*border: 2px black solid;*/
    background-color: transparent;
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}
.login-wrap{
    width:100%;
    margin:auto;
    max-width:550px;
    min-height:440px;
    position:relative;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    border-radius: 20px;
}
.login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:50px 50px 50px 50px;
    background-color: transparent;
    border-radius: 20px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
    display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
    text-transform:uppercase;
}
.login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
    color:#fff;
    border-color:#1161ee;
}
.login-form{
    min-height:345px;
    position:relative;
    -webkit-perspective:1000px;
    perspective:1000px;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
}
.login-form .group{
    margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
}
.login-form .group .input,
.login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.login-form .group .label{
    color:#aaa;
    font-size:12px;
}
.login-form .group .button{
    background:#1161ee;
}
.login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    -webkit-transition:all .2s ease-in-out 0s;
    transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    -webkit-transform:scale(0) rotate(0);
    transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
    top:6px;
    right:0;
    -webkit-transform:scale(0) rotate(0);
    transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
    color:#fff;
}
.login-form .group .check:checked + label .icon{
    background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
    -webkit-transform:scale(1) rotate(45deg);
    transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    -webkit-transform:scale(1) rotate(-45deg);
    transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    -webkit-transform:rotate(0);
    transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    -webkit-transform:rotate(0);
    transform:rotate(0);
}

.hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.foot-lnk{
    text-align:center;
    margin: -20%;
}

#wrapper h2 {
    text-align: center;
    font-size: 17px;
    margin-top: 25px;
}

#footer {
    border-bottom: 3px red solid;
    padding-top: 1em;
    text-align: center;
    width: 100%;
    margin: auto;
    font-family: "Cambria";
    font-style: normal;
}